*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Helvetica, sans-serif;
}

/* navegacion styles */
nav{
    width: 100%;
    border: 2px solid red;
    padding: 20px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.71);
    position: fixed;
}

nav  ul{
    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #808ea3;
    font-weight: bold;
}
nav ul li{
    padding: 10px;
}
nav h3{
    color: #3a5ad6;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
}

.button a{
    color: #fff;
}

nav{
    
}

/* button styles */
.button{
    border: 1px solid blue;
    padding: 10px;
    background-color: #3959d7;
    color: #fff;
    width: 116px;
    text-align: center;
    border-radius: 6px;
}

.button:hover{
    background-color: green;
    cursor: pointer;
}

/* header styles */

header{
    display: flex;
    height: 70vh;
    border: 2px solid blue;
    z-index: -1;
}

/* right */
.right{
    width: 50%;
    height: 100%;
    border: px solid rebeccapurple;
    background: #3959d7 url('../assets/images/nurse.jpg') no-repeat center;
    background-size: cover; 
    background-color: #a6cce3;
    box-sizing: border-box;
}


/* left */
.left{
    width: 50%;
    border: 1px solid saddlebrown;
    max-height: 100%;
    padding: 160px 80px;
    box-sizing: border-box;
}

